* {
  box-sizing: border-box;
}

.page-wrapper {
  height: 100vh; width: 100vw;
  padding-top: 30px;
}

.title {
  margin-bottom: 20px;
}

.table {
  border: 1px solid;
}

.image {
  height: 38px;
}

.btn-danger {
  margin-right: 10px;
}